In [1034]:
import pandas as pd
import numpy as np

In [1035]:
start = pd.read_csv('C:/Users/sxj335/PycharmProjects/Pytest/data/sample_2_pre.csv', encoding="ISO-8859-1", low_memory=False)

In [1036]:
start = start.loc[(start.ZZ_CIN_ID == 100028),:].reset_index(drop=True)

In [1037]:
start.shape

(1298, 32)

In [1038]:
start.columns

Index(['ZZ_APP_ID', 'ZZ_CIN_ID', 'ZZ_ACCT_ID', 'applic_date',
       'transaction_type', 'transaction_amount', 'transaction_narrative',
       'PrimaryCategoryDescription', 'SubCategoryDescription',
       'VendorDescription', 'RecurrenceEventId', 'RecurrenceType',
       'merchant_MCC', 'TRANSACTION_DATE', 'trans_id_app', 'Segment',
       'ZZ_JOINT', 'CIN_M_OR_J', 'appsubject', 'cancelled_transaction',
       'trans_id_cin', 'card_type', 'Deb_Cred_Flag',
       'Transaction_Description2', 'MCC_1', 'MCC_Plus', 'MCC_AS', 'MCC_Label',
       'PrimaryCategory_MCC_AS', 'SubCategory_MCC_AS',
       'Enhance_PrimaryCategory', 'Enhance_SubCategory'],
      dtype='object')

In [1039]:
my_columns = [ 'ZZ_CIN_ID',  'transaction_amount', 'ZZ_ACCT_ID',
       'PrimaryCategoryDescription', 'SubCategoryDescription',
       'TRANSACTION_DATE',  'Deb_Cred_Flag']

In [1040]:
start = start.loc[:,my_columns]

In [1083]:
start.shape

(1298, 8)

In [1084]:
# _count = start.groupby(['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount'])['ZZ_CIN_ID'].count()
# _count = pd.DataFrame(_count)
# _count["trn_count"] = _count['ZZ_CIN_ID']
# _count.drop(columns=['ZZ_CIN_ID'], inplace=True)
# _count = _count.reset_index()
# _count = _count.loc[_count.trn_count==1,:]

In [1120]:
start["trn_count"] = start.groupby(['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount' ])['ZZ_CIN_ID'].transform("count")

In [1121]:
deb_idx =( (start['trn_count'] == 1) & (
    (start['PrimaryCategoryDescription'] == 'Transfers / Other') | 
    (start['PrimaryCategoryDescription'] == 'Misc Regular Payments')) &
         (start["Deb_Cred_Flag"] == "Debit"))

In [1122]:
cr_idx =( (start['trn_count'] == 1) & (
    (start['PrimaryCategoryDescription'] == 'Transfers / Other') | 
    (start['PrimaryCategoryDescription'] == 'Misc Regular Payments')) &
         (start["Deb_Cred_Flag"] == "Credit"))

In [1123]:
df_debit = start.loc[deb_idx, :]#['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount']]
df_debit.shape

(107, 8)

In [1124]:
df_credit = start.loc[cr_idx, :]#['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount']]
df_credit.shape

(124, 8)

In [1125]:
df_debit["transaction_amount_key"] = df_debit.loc[:, "transaction_amount"] * -1
df_credit["transaction_amount_key"] = df_credit.loc[:, "transaction_amount"]

C:\Users\sxj335\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\sxj335\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [1138]:
keys = ['ZZ_CIN_ID', 'TRANSACTION_DATE', "transaction_amount_key"]
keys1 = ['ZZ_CIN_ID', 'ZZ_ACCT_ID', 'TRANSACTION_DATE', "transaction_amount_key"]
out_trans = pd.merge(df_credit, df_debit, left_on=keys, right_on=keys, how="inner")
out_trans1 = pd.merge(df_credit, df_debit, left_on=keys1, right_on=keys1, how="inner")

In [1139]:
out_trans.shape

(40, 15)

In [1141]:
out_trans.columns

Index(['ZZ_CIN_ID', 'transaction_amount_x', 'ZZ_ACCT_ID_x',
       'PrimaryCategoryDescription_x', 'SubCategoryDescription_x',
       'TRANSACTION_DATE', 'Deb_Cred_Flag_x', 'trn_count_x',
       'transaction_amount_key', 'transaction_amount_y', 'ZZ_ACCT_ID_y',
       'PrimaryCategoryDescription_y', 'SubCategoryDescription_y',
       'Deb_Cred_Flag_y', 'trn_count_y'],
      dtype='object')

In [1142]:
out_trans1.shape

(3, 14)

In [1143]:
out_trans1.columns

Index(['ZZ_CIN_ID', 'transaction_amount_x', 'ZZ_ACCT_ID',
       'PrimaryCategoryDescription_x', 'SubCategoryDescription_x',
       'TRANSACTION_DATE', 'Deb_Cred_Flag_x', 'trn_count_x',
       'transaction_amount_key', 'transaction_amount_y',
       'PrimaryCategoryDescription_y', 'SubCategoryDescription_y',
       'Deb_Cred_Flag_y', 'trn_count_y'],
      dtype='object')

In [1144]:
result = pd.merge(out_trans,
                  out_trans1, 
                  right_on=['ZZ_CIN_ID', 'TRANSACTION_DATE', "transaction_amount_key"],
                  left_on=['ZZ_CIN_ID', 'TRANSACTION_DATE', "transaction_amount_key"],
                  how='outer',
                  indicator=True)

In [1145]:
res = result[(result['_merge'] == 'left_only') | (result['_merge'] == 'right_only')]

In [1147]:
res.shape

(37, 27)

In [816]:
result["flag"] = "own_trn"

In [817]:
keep_colsx = ["flag","TRANSACTION_DATE",
             "transaction_amount_x_x","ZZ_CIN_ID","SubCategoryDescription_x_x",
             "PrimaryCategoryDescription_x_x","Deb_Cred_Flag_x_x"]
keep_colsy = ["flag","TRANSACTION_DATE","transaction_amount_y_y",
              "ZZ_CIN_ID","SubCategoryDescription_y_y",
              "PrimaryCategoryDescription_y_y","Deb_Cred_Flag_y_y"]

In [818]:
start2 = pd.merge(start, 
         result[keep_colsx], 
         right_on=["TRANSACTION_DATE", "transaction_amount_x_x","ZZ_CIN_ID","SubCategoryDescription_x_x","PrimaryCategoryDescription_x_x","Deb_Cred_Flag_x_x"], 
         left_on=["TRANSACTION_DATE", "transaction_amount","ZZ_CIN_ID","SubCategoryDescription","PrimaryCategoryDescription","Deb_Cred_Flag"], 
         how='outer')

In [819]:
start2.shape

(1298, 13)

In [820]:
start2 = pd.merge(start2, 
         result[keep_colsy], 
         right_on=["TRANSACTION_DATE", "transaction_amount_y_y","ZZ_CIN_ID","SubCategoryDescription_y_y","PrimaryCategoryDescription_y_y","Deb_Cred_Flag_y_y"], 
         left_on=["TRANSACTION_DATE", "transaction_amount","ZZ_CIN_ID","SubCategoryDescription","PrimaryCategoryDescription","Deb_Cred_Flag"], 
         how='left')

In [821]:
start2.shape

(1298, 18)

In [822]:
start2.columns

Index(['ZZ_CIN_ID', 'transaction_amount', 'ZZ_ACCT_ID',
       'PrimaryCategoryDescription', 'SubCategoryDescription',
       'TRANSACTION_DATE', 'Deb_Cred_Flag', 'trn_count', 'flag_x',
       'transaction_amount_x_x', 'SubCategoryDescription_x_x',
       'PrimaryCategoryDescription_x_x', 'Deb_Cred_Flag_x_x', 'flag_y',
       'transaction_amount_y_y', 'SubCategoryDescription_y_y',
       'PrimaryCategoryDescription_y_y', 'Deb_Cred_Flag_y_y'],
      dtype='object')

In [823]:
start2.loc[(start2.flag_x == 'own_trn')].shape

(40, 18)

In [824]:
start2.loc[(start2.flag_y == 'own_trn')].shape

(3, 18)

In [825]:
start2.loc[start2["flag_x"].isna(), "flag_x"] = start2.loc[start2["flag_x"].isna(), "flag_y"]

In [826]:
start2["flag_x"].value_counts()

own_trn    43
Name: flag_x, dtype: int64

In [51]:
# cnt = start2.loc[(start2.flag_x == 'own_trn')]

In [19]:
#count = 1 and the transaction type = “DEBIT” and the Primary Category is either Transfers / Other r Misc Regular Payments
deb_idx =( (df_debit['trn_count'] == 1) & (
    (df_debit['PrimaryCategoryDescription'] == 'Transfers / Other') | 
    (df_debit['PrimaryCategoryDescription'] == 'Misc Regular Payments'))&
         (df_debit["Deb_Cred_Flag"] == "Debit"))

df["deb_amt"] = 0
df.loc[deb_idx,"deb_amt"] = df.loc[deb_idx,"transaction_amount"]

In [20]:
#count = 1 and the transaction type = “DEBIT” and the Primary Category is either Transfers / Other r Misc Regular Payments
cr_idx =( (df['trn_count'] == 1) & (
    (df['PrimaryCategoryDescription'] == 'Transfers / Other') | 
    (df['PrimaryCategoryDescription'] == 'Misc Regular Payments'))&
         (df["Deb_Cred_Flag"] == "Credit"))

df["cr_amt"] = 0
df.loc[cr_idx,"cr_amt"] = df.loc[cr_idx,"transaction_amount"]

In [22]:
df['deb_sum'] = df.groupby(['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount' ])['deb_amt'].transform("sum")
df['cr_sum'] = df.groupby(['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount' ])['cr_amt'].transform("sum")

In [24]:
df.sort_values(by=['ZZ_CIN_ID', 'TRANSACTION_DATE','transaction_amount' ])

,ZZ_CIN_ID,transaction_amount,PrimaryCategoryDescription,SubCategoryDescription,TRANSACTION_DATE,Deb_Cred_Flag,trn_count,deb_amt,cr_amt,deb_sum,cr_sum
364,100008,-16.95,Misc Card Spend,NaN,01/01/2016,Debit,1,0.00,0.00,0.00,0.00
103,100008,-14.66,Shopping (Household Essentials),General Groceries,01/02/2016,Debit,1,0.00,0.00,0.00,0.00
184,100008,100.00,Cash Deposit,NaN,01/02/2016,Credit,1,0.00,0.00,0.00,0.00
267,100008,-20.99,Transfers / Other,Bank Transfer,01/04/2016,Debit,1,-20.99,0.00,-20.99,0.00
591,100008,-20.00,Transfers / Other,Bank Transfer,01/04/2016,Debit,1,-20.00,0.00,-20.00,0.00
68,100008,20.00,Transfers / Other,Bank Transfer,01/04/2016,Credit,1,0.00,20.00,0.00,20.00
532,100008,20.99,Transfers / Other,Bank Transfer,01/04/2016,Credit,1,0.00,20.99,0.00,20.99
549,100008,-300.00,Savings,NaN,01/06/2016,Debit,1,0.00,0.00,0.00,0.00
511,100008,-200.00,Savings,NaN,01/06/2016,Debit,1,0.00,0.00,0.00,0.00
83,100008,-19.01,Transfers / Other,Bank Transfer,01/06/2016,Debit,1,-19.01,0.00,-19.01,0.00
585,100008,19.01,Transfers / Other,Bank Transfer,01/06/2016,Credit,1,0.00,19.01,0.00,19.01
593,100008,-300.00,Savings,NaN,01/07/2016,Debit,1,0.00,0.00,0.00,0.00
501,100008,-200.00,Savings,NaN,01/07/2016,Debit,1,0.00,0.00,0.00,0.00
490,100008,-300.00,Savings,NaN,01/08/2016,Debit,1,0.00,0.00,0.00,0.00
551,100008,-200.00,Savings,NaN,01/08/2016,Debit,1,0.00,0.00,0.00,0.00
405,100008,-35.78,Shopping (Household Essentials),General Groceries,01/08/2016,Debit,1,0.00,0.00,0.00,0.00
542,100008,-300.00,Savings,NaN,01/09/2016,Debit,1,0.00,0.00,0.00,0.00
559,100008,-200.00,Savings,NaN,01/09/2016,Debit,1,0.00,0.00,0.00,0.00
321,100008,-4.49,Shopping (Discretionary),Music and Downloads,01/10/2016,Debit,1,0.00,0.00,0.00,0.00
15,100008,-20.00,Cash Machine,NaN,02/02/2016,Debit,1,0.00,0.00,0.00,0.00
181,100008,-22.00,Shopping (Household Essentials),General Groceries,02/05/2016,Debit,1,0.00,0.00,0.00,0.00
269,100008,-10.00,Utilities,Mobile Phone Contracts,02/05/2016,Debit,1,0.00,0.00,0.00,0.00
519,100008,-30.00,Transfers / Other,Bank Transfer,02/06/2016,Debit,1,-30.00,0.00,-30.00,0.00
328,100008,-5.50,Shopping (Household Essentials),General Groceries,02/06/2016,Debit,1,0.00,0.00,0.00,0.00
162,100008,30.00,Transfers / Other,Bank Transfer,02/06/2016,Credit,1,0.00,30.00,0.00,30.00
216,100008,-83.65,Shopping (Household Essentials),General Groceries,02/09/2016,Debit,1,0.00,0.00,0.00,0.00
107,100008,-5.00,Charitable Giving,NaN,02/09/2016,Debit,1,0.00,0.00,0.00,0.00
13,100008,150.00,Transfers / Other,Bank Transfer,02/09/2016,Credit,1,0.00,150.00,0.00,150.00
218,100008,-1.58,Shopping (Discretionary),Music and Downloads,02/10/2016,Debit,1,0.00,0.00,0.00,0.00
125,100008,0.00,Misc Card Spend,NaN,02/10/2016,Debit,1,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
146,100008,-87.00,Shopping (Fashion),Womens Fashion,29/12/2015,Debit,1,0.00,0.00,0.00,0.00
482,100008,-50.00,Transfers / Other,Bank Transfer,29/12/2015,Debit,1,-50.00,0.00,-50.00,0.00
246,100008,50.00,Transfers / Other,Bank Transfer,29/12/2015,Credit,1,0.00,50.00,0.00,50.00
547,100008,-1000.00,Transfers / Other,Bank Transfer,30/03/2016,Debit,1,-1000.00,0.00,-1000.00,0.00
372,100008,-917.99,Transfers / Other,Bank Transfer,30/03/2016,Debit,1,-917.99,0.00,-917.99,0.00
62,100008,-109.49,Shopping (Fashion),General Fashion,30/03/2016,Debit,1,0.00,0.00,0.00,0.00
517,100008,917.99,Transfers / Other,Bank Transfer,30/03/2016,Credit,1,0.00,917.99,0.00,917.99
194,100008,1000.00,Transfers / Other,Bank Transfer,30/03/2016,Credit,1,0.00,1000.00,0.00,1000.00
157,100008,-74.70,Shopping (Fashion),General Fashion,30/05/2016,Debit,1,0.00,0.00,0.00,0.00
350,100008,-7.80,Commuting and travel,Car Parking,30/05/2016,Debit,1,0.00,0.00,0.00,0.00
502,100008,-66.00,Transfers / Other,Bank Transfer,30/11/2015,Debit,1,-66.00,0.00,-66.00,0.00
534,100008,-40.00,Transfers / Other,Bank Transfer,30/11/2015,Debit,1,-40.00,0.00,-40.00,0.00
345,100008,-38.37,Transfers / Other,Bank Transfer,30/11/2015,Debit,1,-38.37,0.00,-38.37,0.00
484,100008,38.37,Transfers / Other,Bank Transfer,30/11/2015,Credit,1,0.00,38.37,0.00,38.37
52,100008,40.00,Transfers / Other,Bank Transfer,30/11/2015,Credit,1,0.00,40.00,0.00,40.00
133,100008,66.00,Transfers / Other,Bank Transfer,30/11/2015,Credit,1,0.00,66.00,0.00,66.00
558,100008,-50.00,Transfers / Other,Bank Transfer,31/05/2016,Debit,2,0.00,0.00,0.00,0.00
576,100008,-50.00,Transfers / Other,Bank Transfer,31/05/2016,Debit,2,0.00,0.00,0.00,0.00
34,100008,-30.00,Cash Machine,NaN,31/05/2016,Debit,1,0.00,0.00,0.00,0.00
257,100008,-2.69,Transfers / Other,Bank Transfer,31/05/2016,Debit,1,-2.69,0.00,-2.69,0.00
262,100008,-0.99,Shopping (Discretionary),Music and Downloads,31/05/2016,Debit,1,0.00,0.00,0.00,0.00
541,100008,2.69,Transfers / Other,Bank Transfer,31/05/2016,Credit,1,0.00,2.69,0.00,2.69
167,100008,50.00,Transfers / Other,Bank Transfer,31/05/2016,Credit,2,0.00,0.00,0.00,0.00
338,100008,50.00,Transfers / Other,Bank Transfer,31/05/2016,Credit,2,0.00,0.00,0.00,0.00
426,100008,-60.00,Cash Machine,NaN,31/10/2016,Debit,1,0.00,0.00,0.00,0.00
417,100008,-14.09,Transfers / Other,Bank Transfer,31/10/2016,Debit,1,-14.09,0.00,-14.09,0.00
439,100008,30.00,Transfers / Other,Bank Transfer,31/10/2016,Credit,1,0.00,30.00,0.00,30.00
475,100008,60.00,Transfers / Other,Bank Transfer,31/10/2016,Credit,1,0.00,60.00,0.00,60.00
49,100008,-30.78,Transfers / Other,Bank Transfer,31/12/2015,Debit,1,-30.78,0.00,-30.78,0.00
561,100008,30.78,Transfers / Other,Bank Transfer,31/12/2015,Credit,1,0.00,30.78,0.00,30.78

In [259]:
# df.head(2)

In [260]:
ot_df = df.loc[(df.PrimaryCategoryDescription == 'Transfers / Other') | (df.PrimaryCategoryDescription == 'Misc Regular Payments')]

In [261]:
ot_df.shape

(159005, 32)

In [262]:
cd_df = ot_df.loc[(df.Deb_Cred_Flag == 'Credit') | (df.Deb_Cred_Flag == 'Debit')]

In [263]:
cd_df.shape

(159005, 32)

In [264]:
df_freq = cd_df.groupby(['ZZ_CIN_ID', 'transaction_amount', 'TRANSACTION_DATE', 'PrimaryCategoryDescription', 'SubCategoryDescription'])['transaction_amount'].count()

In [265]:
df_freq.shape

(97715,)

In [266]:
df_uni = df_freq[df_freq == 1]
df_uni.shape

(93890,)

In [267]:
df_freq2 = pd.DataFrame(df_freq)
df_freq2['amt_count'] = df_freq2['transaction_amount']
df_freq2.drop(columns=['transaction_amount'], inplace=True)
df_freq2 = df_freq2.reset_index()

In [268]:
df_freq2.shape

(97715, 6)

In [269]:
df_freq2['amt_sum'] = df_freq2.groupby(['ZZ_CIN_ID', 'TRANSACTION_DATE', 'PrimaryCategoryDescription', 'SubCategoryDescription'])['transaction_amount'].transform('sum')

In [270]:
df_freq2.head(5)

,ZZ_CIN_ID,transaction_amount,TRANSACTION_DATE,PrimaryCategoryDescription,SubCategoryDescription,amt_count,amt_sum
0,100008,-3000.00,08/04/2016,Transfers / Other,Bank Transfer,1,-4.200000e+03
1,100008,-2232.20,25/11/2015,Transfers / Other,Bank Transfer,1,0.000000e+00
2,100008,-1200.00,08/04/2016,Transfers / Other,Bank Transfer,1,-4.200000e+03
3,100008,-1116.10,25/11/2015,Transfers / Other,Bank Transfer,1,0.000000e+00
4,100008,-1011.32,24/05/2016,Transfers / Other,Bank Transfer,1,-1.136868e-13

In [271]:
df_freq2.shape

(97715, 7)

In [272]:
idx = (df_freq2.amt_sum == 0)

In [273]:
df_freq2["flag"]= np.nan
df_freq2.loc[idx, "flag"] = "OWN TRANSFER"
df_freq2.shape

(97715, 8)

In [277]:
res_df = df_freq2.loc[(df_freq2.flag == 'OWN TRANSFER')]
# 34,256 
res_df.shape

(21692, 8)

In [278]:
res = pd.merge(df, df_freq2, left_on=['ZZ_CIN_ID', 'TRANSACTION_DATE', 'transaction_amount', 'PrimaryCategoryDescription', 'SubCategoryDescription'], right_on=['ZZ_CIN_ID', 'TRANSACTION_DATE', 'transaction_amount', 'PrimaryCategoryDescription', 'SubCategoryDescription'], how='left')

In [279]:
res.loc[(res.ZZ_CIN_ID == 100008) & (res.flag == 'OWN TRANSFER'), :].shape

(176, 35)

In [246]:
cus1 = res.loc[(res.ZZ_CIN_ID == 100008),['ZZ_CIN_ID', 'TRANSACTION_DATE', 'transaction_amount',"flag"] ]
cus1.head()

        ZZ_CIN_ID TRANSACTION_DATE  transaction_amount          flag
436815     100008       14/01/2016               -3.96           NaN
436816     100008       25/01/2016             -100.50           NaN
436817     100008       06/02/2016               -5.78           NaN
436818     100008       18/02/2016               30.00           NaN
436819     100008       04/11/2015               20.00  OWN TRANSFER

In [247]:
cus1.shape

(594, 4)

In [248]:
cus1.dtypes

ZZ_CIN_ID               int64
TRANSACTION_DATE       object
transaction_amount    float64
flag                   object
dtype: object

In [255]:
cus1.groupby(['ZZ_CIN_ID',"TRANSACTION_DATE",  'transaction_amount']).count()

                                               flag
ZZ_CIN_ID TRANSACTION_DATE transaction_amount
100008    01/01/2016       -16.95                 0
          01/02/2016       -14.66                 0
                            100.00                0
          01/04/2016       -20.99                 0
                           -20.00                 0
                            20.00                 0
                            20.99                 0
          01/06/2016       -300.00                0
                           -200.00                0
                           -19.01                 1
                            19.01                 1
          01/07/2016       -300.00                0
                           -200.00                0
          01/08/2016       -300.00                0
                           -200.00                0
                           -35.78                 0
          01/09/2016       -300.00                0
                           -200.00                0
          01/10/2016       -4.49                  0
          02/02/2016       -20.00                 0
          02/05/2016       -22.00                 0
                           -10.00                 0
          02/06/2016       -30.00                 1
                           -5.50                  0
                            30.00                 1
          02/09/2016       -83.65                 0
                           -5.00                  0
                            150.00                0
          02/10/2016       -1.58                  0
                            0.00                  0
...                                             ...
          29/10/2016       -12.97                 0
          29/11/2015       -31.98                 0
          29/12/2015       -87.00                 0
                           -50.00                 1
                            50.00                 1
          30/03/2016       -1000.00               1
                           -917.99                1
                           -109.49                0
                            917.99                1
                            1000.00               1
          30/05/2016       -74.70                 0
                           -7.80                  0
          30/11/2015       -66.00                 1
                           -40.00                 1
                           -38.37                 1
                            38.37                 1
                            40.00                 1
                            66.00                 1
          31/05/2016       -50.00                 0
                           -30.00                 0
                           -2.69                  1
                           -0.99                  0
                            2.69                  1
                            50.00                 0
          31/10/2016       -60.00                 0
                           -14.09                 0
                            30.00                 0
                            60.00                 0
          31/12/2015       -30.78                 1
                            30.78                 1

[577 rows x 1 columns]

In [249]:
# read one cust
cus1g = pd.read_csv("C:/Users/sxj335/PycharmProjects/Pytest/data/sample_2_post_100008.csv")

In [250]:
cus1g.shape

(594, 4)

In [251]:
cus1g.groupby(['ZZ_CIN_ID',"TRANSACTION_DATE",  'transaction_amount']).count()

                                               Tran_Date
ZZ_CIN_ID TRANSACTION_DATE transaction_amount
100008    01/01/2016       -16.95                      1
          01/02/2016       -14.66                      1
                            100.00                     1
          01/04/2016       -20.99                      1
                           -20.00                      1
                            20.00                      1
                            20.99                      1
          01/06/2016       -300.00                     1
                           -200.00                     1
                           -19.01                      1
                            19.01                      1
          01/07/2016       -300.00                     1
                           -200.00                     1
          01/08/2016       -300.00                     1
                           -200.00                     1
                           -35.78                      1
          01/09/2016       -300.00                     1
                           -200.00                     1
          01/10/2016       -4.49                       1
          02/02/2016       -20.00                      1
          02/05/2016       -22.00                      1
                           -10.00                      1
          02/06/2016       -30.00                      1
                           -5.50                       1
                            30.00                      1
          02/09/2016       -83.65                      1
                           -5.00                       1
                            150.00                     1
          02/10/2016       -1.58                       1
                            0.00                       1
...                                                  ...
          29/10/2016       -12.97                      1
          29/11/2015       -31.98                      1
          29/12/2015       -87.00                      1
                           -50.00                      1
                            50.00                      1
          30/03/2016       -1000.00                    1
                           -917.99                     1
                           -109.49                     1
                            917.99                     1
                            1000.00                    1
          30/05/2016       -74.70                      1
                           -7.80                       1
          30/11/2015       -66.00                      1
                           -40.00                      1
                           -38.37                      1
                            38.37                      1
                            40.00                      1
                            66.00                      1
          31/05/2016       -50.00                      2
                           -30.00                      1
                           -2.69                       1
                           -0.99                       1
                            2.69                       1
                            50.00                      2
          31/10/2016       -60.00                      1
                           -14.09                      1
                            30.00                      1
                            60.00                      1
          31/12/2015       -30.78                      1
                            30.78                      1

[577 rows x 1 columns]

In [252]:
cus1g.head()

   ZZ_CIN_ID  transaction_amount   Tran_Date TRANSACTION_DATE
0     100008              -20.00  22/01/2016       22/01/2016
1     100008               -2.69  31/05/2016       31/05/2016
2     100008              -34.99  27/03/2016       27/03/2016
3     100008              -30.00  13/09/2016       13/09/2016
4     100008               -3.13  14/04/2016       14/04/2016

In [253]:
cus1g.dtypes

ZZ_CIN_ID               int64
transaction_amount    float64
Tran_Date              object
TRANSACTION_DATE       object
dtype: object

In [254]:
pd.merge(cus1, cus1g, left_on=['ZZ_CIN_ID',"TRANSACTION_DATE",  'transaction_amount'], right_on=['ZZ_CIN_ID',"TRANSACTION_DATE", 'transaction_amount'], how='left').\
sort_values(by=['ZZ_CIN_ID',"TRANSACTION_DATE",  'transaction_amount'])

     ZZ_CIN_ID TRANSACTION_DATE  transaction_amount          flag   Tran_Date
380     100008       01/01/2016              -16.95           NaN  01/01/2016
106     100008       01/02/2016              -14.66           NaN  01/02/2016
191     100008       01/02/2016              100.00           NaN  01/02/2016
278     100008       01/04/2016              -20.99           NaN  01/04/2016
625     100008       01/04/2016              -20.00           NaN  01/04/2016
69      100008       01/04/2016               20.00           NaN  01/04/2016
562     100008       01/04/2016               20.99           NaN  01/04/2016
579     100008       01/06/2016             -300.00           NaN  01/06/2016
540     100008       01/06/2016             -200.00           NaN  01/06/2016
85      100008       01/06/2016              -19.01  OWN TRANSFER  01/06/2016
619     100008       01/06/2016               19.01  OWN TRANSFER  01/06/2016
627     100008       01/07/2016             -300.00           NaN  01/07/2016
529     100008       01/07/2016             -200.00           NaN  01/07/2016
517     100008       01/08/2016             -300.00           NaN  01/08/2016
581     100008       01/08/2016             -200.00           NaN  01/08/2016
423     100008       01/08/2016              -35.78           NaN  01/08/2016
572     100008       01/09/2016             -300.00           NaN  01/09/2016
590     100008       01/09/2016             -200.00           NaN  01/09/2016
335     100008       01/10/2016               -4.49           NaN  01/10/2016
15      100008       02/02/2016              -20.00           NaN  02/02/2016
188     100008       02/05/2016              -22.00           NaN  02/05/2016
280     100008       02/05/2016              -10.00           NaN  02/05/2016
548     100008       02/06/2016              -30.00  OWN TRANSFER  02/06/2016
342     100008       02/06/2016               -5.50           NaN  02/06/2016
168     100008       02/06/2016               30.00  OWN TRANSFER  02/06/2016
224     100008       02/09/2016              -83.65           NaN  02/09/2016
110     100008       02/09/2016               -5.00           NaN  02/09/2016
13      100008       02/09/2016              150.00           NaN  02/09/2016
226     100008       02/10/2016               -1.58           NaN  02/10/2016
128     100008       02/10/2016                0.00           NaN  02/10/2016
..         ...              ...                 ...           ...         ...
388     100008       30/03/2016             -917.99  OWN TRANSFER  30/03/2016
63      100008       30/03/2016             -109.49           NaN  30/03/2016
546     100008       30/03/2016              917.99  OWN TRANSFER  30/03/2016
201     100008       30/03/2016             1000.00  OWN TRANSFER  30/03/2016
162     100008       30/05/2016              -74.70           NaN  30/05/2016
365     100008       30/05/2016               -7.80           NaN  30/05/2016
530     100008       30/11/2015              -66.00  OWN TRANSFER  30/11/2015
564     100008       30/11/2015              -40.00  OWN TRANSFER  30/11/2015
360     100008       30/11/2015              -38.37  OWN TRANSFER  30/11/2015
510     100008       30/11/2015               38.37  OWN TRANSFER  30/11/2015
52      100008       30/11/2015               40.00  OWN TRANSFER  30/11/2015
137     100008       30/11/2015               66.00  OWN TRANSFER  30/11/2015
588     100008       31/05/2016              -50.00           NaN  31/05/2016
589     100008       31/05/2016              -50.00           NaN  31/05/2016
608     100008       31/05/2016              -50.00           NaN  31/05/2016
609     100008       31/05/2016              -50.00           NaN  31/05/2016
34      100008       31/05/2016              -30.00           NaN  31/05/2016
268     100008       31/05/2016               -2.69  OWN TRANSFER  31/05/2016
273     100008       31/05/2016               -0.99           NaN  31/05/2016
571     100008       31/05/2016                2.69  OWN TRANSFER  31/05/2016
173     100008       31/05/2016               50.00           NaN  31/05/2016
174     100008       31/05/2016               50.00           NaN  31/05/2016
352     100008       31/05/2016               50.00           NaN  31/05/2016
353     100008       31/05/2016               50.00           NaN  31/05/2016
447     100008       31/10/2016              -60.00           NaN  31/10/2016
437     100008       31/10/2016              -14.09           NaN  31/10/2016
460     100008       31/10/2016               30.00           NaN  31/10/2016
500     100008       31/10/2016               60.00           NaN  31/10/2016
49      100008       31/12/2015              -30.78  OWN TRANSFER  31/12/2015
592     100008       31/12/2015               30.78  OWN TRANSFER  31/12/2015

[628 rows x 5 columns]