In [123]:
import pandas as pd
from collections import Counter

In [124]:
df = pd.read_csv('C:/Users/sxj335/PycharmProjects/Pytest/data/own_transfers.csv', encoding="ISO-8859-1", low_memory=False)

In [125]:
d = df[['CustomerId', 'ItemAccountID', 'PostDate', 'Amount']]

In [127]:
d

   CustomerId ItemAccountID    PostDate  Amount
0           1             A  17/12/2016     100
1           1             A  17/12/2016     100
2           1             A  18/12/2016    -100
3           1             B  17/12/2016    -100
4           1             B  18/12/2016     100
5           1             C  19/12/2016     300
6           1             C  19/12/2016    -300

In [128]:
idx_custid = d["Amount"] == 100
idx_custid

0     True
1     True
2    False
3    False
4     True
5    False
6    False
Name: Amount, dtype: bool

In [129]:
d.shape

(7, 4)

In [130]:
app_list = df['CustomerId'].unique()
app_list.shape

(1,)

In [131]:
d.columns.tolist()

['CustomerId', 'ItemAccountID', 'PostDate', 'Amount']

In [132]:
df_freq = d.groupby(d.columns.tolist())["Amount"].count()
df_freq

CustomerId  ItemAccountID  PostDate    Amount
1           A              17/12/2016   100      2
                           18/12/2016  -100      1
            B              17/12/2016  -100      1
                           18/12/2016   100      1
            C              19/12/2016  -300      1
                                        300      1
Name: Amount, dtype: int64

In [133]:
df_freq2 = df_freq[df_freq == 1]

In [134]:
df_freq2 = pd.DataFrame(df_freq2)
#df_freq2.columns = "amt"
#df_freq2.set_index(["amt"])
df_freq2["amt_count"] = df_freq2["Amount"]
df_freq2.drop(columns=["Amount"], inplace = True)
#df_freq2.reset_index()

In [135]:
df_freq2 = df_freq2.reset_index()

In [136]:
df_freq2

   CustomerId ItemAccountID    PostDate  Amount  amt_count
0           1             A  18/12/2016    -100          1
1           1             B  17/12/2016    -100          1
2           1             B  18/12/2016     100          1
3           1             C  19/12/2016    -300          1
4           1             C  19/12/2016     300          1

In [137]:
df_freq2["amt_sum"] = df_freq2.groupby(["CustomerId", "PostDate"])["Amount"].transform(sum)

In [138]:
df_freq2

   CustomerId ItemAccountID    PostDate  Amount  amt_count  amt_sum
0           1             A  18/12/2016    -100          1        0
1           1             B  17/12/2016    -100          1     -100
2           1             B  18/12/2016     100          1        0
3           1             C  19/12/2016    -300          1        0
4           1             C  19/12/2016     300          1        0

In [139]:
df_freq2["acct_count"] = df_freq2.groupby(["CustomerId", "PostDate"])["ItemAccountID"].transform("nunique")
#df_freq2

In [140]:
df_freq2

,CustomerId,ItemAccountID,PostDate,Amount,amt_count,amt_sum,acct_count
0,1,A,18/12/2016,-100,1,0,2
1,1,B,17/12/2016,-100,1,-100,1
2,1,B,18/12/2016,100,1,0,2
3,1,C,19/12/2016,-300,1,0,1
4,1,C,19/12/2016,300,1,0,1

In [141]:
idx = (df_freq2.amt_sum == 0) & (df_freq2.acct_count == 2)
df_freq2["flag"]= ""

df_freq2.loc[idx,"flag"] = "x"
df_freq2

,CustomerId,ItemAccountID,PostDate,Amount,amt_count,amt_sum,acct_count,flag
0,1,A,18/12/2016,-100,1,0,2,x
1,1,B,17/12/2016,-100,1,-100,1,
2,1,B,18/12/2016,100,1,0,2,x
3,1,C,19/12/2016,-300,1,0,1,
4,1,C,19/12/2016,300,1,0,1,

In [142]:
df_freq3 = df_freq2.loc[(df_freq2.amt_sum == 0) & (df_freq2.acct_count == 2)]

In [143]:
df_freq3

,CustomerId,ItemAccountID,PostDate,Amount,amt_count,amt_sum,acct_count,flag
0,1,A,18/12/2016,-100,1,0,2,x
2,1,B,18/12/2016,100,1,0,2,x

In [144]:
df_freq3['dup'] = 'x'

C:\Users\sxj335\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
# dict1 = {}
# dict2 = {}
# df_1 = []
# for app_urn in app_list:
#     app_df = df.loc[df['CustomerId'] == app_urn]
#     print(app_df.shape)
#     acc_list = app_df['ItemAccountID'].unique()
#     print(acc_list.shape)
#     for acc_no in acc_list:
#         acc_df = app_df.loc[app_df['ItemAccountID'] == acc_no]
#         dict1.update({acc_no: [acc_df['PostDate']]})
#         dict2.update({acc_no: [acc_df['Amount']]})
# print(f'dict1: {dict1} and dict2: {dict2}')

(7, 6)
(3,)
dict1: {'A': [0    17/12/2016
1    17/12/2016
2    18/12/2016
Name: PostDate, dtype: object], 'B': [3    17/12/2016
4    18/12/2016
Name: PostDate, dtype: object], 'C': [5    19/12/2016
6    19/12/2016
Name: PostDate, dtype: object]} and dict2: {'A': [0    100
1    100
2   -100
Name: Amount, dtype: int64], 'B': [3   -100
4    100
Name: Amount, dtype: int64], 'C': [5    300
6   -300
Name: Amount, dtype: int64]}

In [8]:
list_of_lists = []
for key, val in dict1.items():
    list_of_lists.append(val)
print(list_of_lists)

[[0    17/12/2016
1    17/12/2016
2    18/12/2016
Name: PostDate, dtype: object], [3    17/12/2016
4    18/12/2016
Name: PostDate, dtype: object], [5    19/12/2016
6    19/12/2016
Name: PostDate, dtype: object]]

In [9]:
amount_series = []
for key, val in dict2.items():
    amount_series.append(val)
print(amount_series)

[[0    100
1    100
2   -100
Name: Amount, dtype: int64], [3   -100
4    100
Name: Amount, dtype: int64], [5    300
6   -300
Name: Amount, dtype: int64]]

In [10]:
list_of_lists[0][0].tolist()

['17/12/2016', '17/12/2016', '18/12/2016']

In [11]:
full_list = []
for i, item in enumerate(list_of_lists):
    for j, test in enumerate(list_of_lists[i]):
        str1 = list_of_lists[i][j].tolist()
        full_list.append(str1)
print(full_list)

[['17/12/2016', '17/12/2016', '18/12/2016'], ['17/12/2016', '18/12/2016'], ['19/12/2016', '19/12/2016']]

In [12]:
amount_list = []
for i, item in enumerate(amount_series):
    for j, test in enumerate(amount_series[i]):
        str2 = amount_series[i][j].tolist()
        amount_list.append(str2)
print(amount_list)

[[100, 100, -100], [-100, 100], [300, -300]]

In [13]:
len(full_list)

3

In [14]:
listz = [list(i) for i in zip(full_list[0], amount_list[0])]
print(listz)

[['17/12/2016', 100], ['17/12/2016', 100], ['18/12/2016', -100]]